.news_newsletter{display:flex}
.newsletter_div {
    background: #f7f7f7;
    padding: 25px;
}
.newsletter_div h2 {
 margin-top: 0;
    margin-bottom: 10px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 22px;
}
.newsletter_div input {
    width: 100%;
    height: 45px;
    border: 1px solid #c3c3c3;
    padding-left: 10px;
}
.newsletter_div input[type="submit"] {
    background: #005ab5;
    color: #fff;border: 0px;
    margin-top: 15px;
    font-family: Times New Roman;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 22px;
}
.newsletter_div p {
    margin-bottom: 35px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #465561;
}
.newsletter_div span {
    display: inline-block;
    padding-top: 20px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #465561;
}
.right_side_bannerAd .banner {
    padding: 0;
}
.right_side_bannerAd img {
    height: 300px;
    object-fit: cover;
}
.newsletter_row {
    margin-left: 25px;
}

@media(max-width:768px){
    .trending_truth_row {
        display: inline-block !important;
    }
    .newsletter_div input {
        width: 70%;
        display: table;
        margin: 0 auto;
    }
    .news_newsletter {
        display: inline-block !important;
    }
    .newsletter_row {
        margin-left: 0;
    }
    .copy_right {
        text-align: center;
    }
    .footer .social {
        text-align: center !important;
    }
}

@media(max-width:414px){
    .newsletter_div span {
        font-size: 10px;
        line-height: 15px;
    }   
    .newsletter_div p {
        margin-bottom: 20px;
        font-size: 10px;
        line-height: 15px;
    }  
    .newsletter_div h2{font-size: 16px;}   
    .newsletter_div input {
        width: 100%
    }   
.footer .content.has-text-centered {
    text-align: unset !important;
    margin-bottom: 0;
}
.footer_menu ul li {
    display: block;
    text-align: left;
}
}

@media(max-width:320px){
    .right_side_bannerAd img {
        height: 250px;
        margin-bottom: 20px;
    }
    .trending_truth_row_ad_height img {
        height: 300px;
        margin-bottom: 20px;
    }

}