.text_title_date h2{font-size: 35px; color:#212121;font-family: Times New Roman;font-weight: bold;line-height: 45px;}
.text_title_date p{
font-family: Times New Roman;
font-style: normal;
font-weight: normal;
font-size: 18px;padding: 20px 0 10px 0;
line-height: 27px;
width: 90%;
}
.img_user_date span {
    margin: 7px 5px;font-size: 12px;
}
.img_user_date img {
    margin-right: 7px;width: 40px;
}
.img_user_date {
    padding:20px 0 30px 0;display: flex;
}
.trending_truth_right_panel .Top_News {
    padding-top: 0;
}
.img_user_date .date_format, .img_user_date .user_format {
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
}
.img_user_date .user_format{color: #005AB5;font-weight: bold;}
.img_user_date .by_format {
    margin-top: 9px;
}
.socialsharing_txt{display: flex;margin-top: 25px;}
.post_des p:first-child {
    padding-top: 0;
}
.post_des p {
    width: 75%;
}

@media(max-width:1024px){
    .trending_truth_left_panel .Top_News h2:after {
        width: 75%;
    }
    .trending_truth_left_panel .SingleAuthorPost_txt img {
        width: 100px;
        height: 70px;
        object-fit: cover;
    }
    .trending_truth_right_panel .Top_News h2:after {
        width: 68%;
    }
    .trending_truth_right_panel .newsletter_div h2 {
        font-size: 20px;
    }
}

@media(max-width:768px){
    
.social_sharing {
        max-width: 15%;
    }   
.img_user_date {
        padding: 10px 0 20px 0;
}
.text_title_date p {
    font-size: 18px;
    padding: 5px 0 10px 0;
    width: 100%;
}
    .text_title_date h2 {
        font-size: 24px;
    }
    .text_title_date p{width: 100%;}
    .trending_truth_left_panel {
        padding: 20px !important;

    }
}

@media(max-width:414px){

    .trending_truth_left_panel .related_post_title, .trending_truth_right_panel  {
        display: none;
    }    
    .trending_truth_left_panel .SingleAuthorPost_txt img {
        width: auto;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover; 
        margin-right: 0px; 
    }
    .SingleAuthorPost_txt img {
        margin-right: 0;
    }
    body .SingleAuthorPost_txt {
        display: inline-block;
        text-align: center;
        margin-bottom: 25px;
        padding: 10px;
    }
    body .prev_next p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
    } 
    .prev_next h2 {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }
    .prev_next div {
        padding: 20px 0 20px 0;
        border-top: 1px solid #E0E0E0;
    }
    .prev_next_left p::before, .prev_right p::before{display: none;} 
    .prev_right {
        margin-left: 0px !important;
    }
    body .prev_next {
        display: inline-block !important;
        border-top: 0;
    border-bottom: 1px solid #D7D7D7;
    padding: 30px 0 30px 0;
    margin-top: 0;
    }
    .trending_truth_left_panel .social_sharing {
        display: none;
    }
    .trending_truth_row_banner .banner img {
        height: 300px;
        object-fit: cover;
    }
    .text_title_date h2 {
        font-size: 25px;
        line-height: 35px;
    }
}
