.twitter_row img {
    width: 45px;float: left;
}
.twitter_title_email {
    float: left;
    margin-left: 25px;
}
.twitter_title_email span {
    display: block;font-size: 15px;
}
img.twitter_image {
    float: right;
    width: 30px;
    margin-top: 10px;
}
.twitter_div .title_bold {
    font-weight: bold;
    font-size: 17px;line-height: 1.0;
}
.twitter_row {
    border: 2px solid #efefef;
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
}
.twitter_row p {
    display: inline-block;
    padding-top: 15px;
    font-size: 15px;
    line-height: 1.5;
}
.Breaking_New img.twiter_post_img {
    width: 100%;
    height: 150px;
    object-fit: cover;margin-top: 10px;
    border-radius: 10px;
}
.Breaking_New h1 {
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    position: relative;
    padding: 30px 0px 0px 30px;
}
.Breaking_New h1:before {
    z-index: 9;
    position: absolute;
    bottom: 0;
    margin-left: 0;
    content: '';
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid #005ab5;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    right: 0;
    left: 0;
    top: 50%;
}
.twitter_date_time {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid;
    padding-bottom: 3px;
    margin-top: 15px;
}
.twitter_date_time span {
    margin-right: 10px;font-size: 12px;
    display: inline-block;
}
.twitter_like {
    margin-top: 15px;
    display: inline-block;
    width: 100%;
}
.twitter_like span {
    margin-right: 25px;
    width: 100%;font-size: 12px;
}
.twitter_like {
    margin: 8px 0 8px;
    display: inline-block;
    width: 100%;
}
.twitter_row a {
    padding: 4px;
    display: table;
    margin: 20 auto;
    width: 100%;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 28px;
    color: #55acee;
    border: 1px solid #1E99ED;
box-sizing: border-box;
border-radius: 50px;
}
.trending_right {
    background: #005ab5;
    margin: 40px auto 50px;
    padding: 20px 0 30px;
}
.trending_row .twitter_row {
    margin: 0 15px;background-color: #fff;
}
.trending_row {
    display: flex;
    width: 97%;
    margin: 0 auto;
}
.trending_row .twitter_row .twiter_post_img {
    width: 100%;
    border-radius: 10px;
    height: 150px;
    object-fit: cover;
}
.trending_row .twitter_row a {
    margin-bottom: 0;
}
.trending_right h2 {
    text-align: center;
    font-style: italic !important;
    padding: 10px 0 40px 0;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;color:#fff;
    line-height: 30px;
}
.Breaking_New {
    margin-left: 30px; 
}

@media(max-width:1024px){
    .trending_row {
        display: block;
        columns: 2;
    }
    .trending_row .twitter_row {
        margin: 0px 0px 23px;
    }

}

@media(max-width:414px){
    .trending_right h2{
        padding: 0px 0 20px 0;
        font-size: 16px;
    }
    .Breaking_New h1{font-size: 12px; line-height: 15px;}
    .trending_row .twitter_row {
        margin: 0 auto 20px;
    } 
    .twitter_row {
        width: 75%;
        margin: 20px auto 0px;
        display: table;
    }
    .Breaking_New {
        margin-left: 0;
        padding-top: 0;
    }
    .trending_row {
        display: block;
        columns: 1;
    }
}
