.PrivacyPolicy h2 {
    font-size: 25px;
    font-weight: 700;
    font-family: Times New Roman;
    padding-bottom: 10px;
}
.PrivacyPolicy p{
font-family: Times New Roman;
font-style: normal;
font-weight: normal;
font-size: 18px;
padding: 10px 0 10px 0;
line-height: 27px
}
.PrivacyPolicy {
    padding: 20px 0 20px 0;
}
.privacy_policy_right{display: flex}

@media(max-width:768px){
    .privacy_policy_right {
        display: table;
        width: 95%;
        margin: 0 auto;
    }
    .privacy_policy_sidebar {
        margin-left: 0px !important;
    }
    .privacy_policy_right .Breaking_New {
        margin: 0px auto !important;
    }
}