.SinglePostData {
    width: 60%;
    margin: 0 auto;
        margin-bottom: 0px;
    background: #fff;
    box-shadow: 0 0 5px gainsboro;
    padding: 40px 60px 30px 50px;
}
.SinglePostData .single_post_data_txt p {
    width: 100%;
}
.related_post_three_col {
    columns: 3;
    margin-top: 40px;
}

@media(max-width:1024px){
    .SinglePostData {
        width: 80%;
    }

}
@media(max-width:768px){
    .related_post_three_col {
        columns: 1;
    }
    body .SinglePostDetail .socialsharing_txt {
        width: 100%;
        margin: 0 auto;
        padding: 50px 15px 0px 15px !important;
    }
    body .SinglePostDetail_top_data span{width: auto;}
    body .SinglePostDetail_top_title .img_user_date {
        text-align: center;
    }
    body .SinglePostDetail_top_data h2 {
        font-size: 24px;
        line-height: 35px;
        text-align: center;
    }
    body .SinglePostDetail_top_data {
        display: inline-block;
    }
    body .SinglePostDetail_top_data .SinglePostDetail_top_title {
        width: 100%;
        padding-right: 0;
    }
}

@media(max-width:414px){
    .socialsharing_txt {
        display: none;
    }
    .socialsharing_txt {
        display: inline-block;
    }
    .SinglePostData {
        width: 100%;
        padding: 30px;
    }
    .related_post_three_col {
        columns: 1;
        margin-top: 40px;
    }

}
@media(max-width:320px){
    .SinglePostData {
        padding: 10px;
    }
    .section {
        padding: 2rem 1.5rem;
    }
    .text_title_date h2 {
        font-size: 20px;
        line-height: 25px;
    }
    .RelatedPost {
        padding: 20px 0 0 0;
    }
}