.JustPostTitleDate h1 {
    color: #000;
    margin-bottom: 10px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
}
.JustPostTitleDate .justPostDate span {
    display: inline-block;
    margin: 0 2px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}
.JustPostTitleDate {
    margin-bottom: 20px;
}
.Top_News h2:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 78%;
    background: #000;
    top: 18px;
    right: 0;
}
.Top_News h2 {
    position: relative;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    color: #005AB5;
    position: relative
}
.Top_News {
    padding: 30px 0 30px 0;
}
@media(max-width:768px){
    .top_news {
        display: inline-block !important;
    }
}

@media(max-width:414px){
    .JustPostTitleDate h1 {
        margin-bottom: 0px;
        font-size: 16px;
    }
}



