.lastest_post ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.lastest_post ul li img {
    width: 100%;
    height: 570px;
    object-fit: cover;
}
.lastest_post ul li {
    width: 50%;position: relative;
    float: left;margin:0 10px
}
.lastest_post .latest_post_content {
    position: absolute;
    bottom: 0;
}
.lastest_post .latest_post_content {
    position: absolute;
    bottom: 40px;
    width: 85%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.lastest_post .latest_post_content h2 {
    color: #fff;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 30px;
    margin:15px 0 10px 0;
}
.lastest_post .latest_post_content button {
    background: #005ab5;
    box-shadow: none;
    border: 0px;
    color: #fff;
    text-transform: uppercase;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 11px;
    padding: 4px 8px;
}
.lastest_post .latest_post_content .date_user span {
    width: auto;
    float: left;
    margin-right: 50px;
}
.lastest_post .latest_post_content .date_user {
    width: 100%;
}
.lastest_post .latest_post_content .date_user span:after {
    content: '';
    position: absolute;
    background: #005ab5;
    height: 10px;
    width: 10px;
    border-radius: 100px;
    top: 5px;
    margin-left: 15px;
}
.lastest_post .latest_post_content .date_user span{
    position: relative;
}
.lastest_post .latest_post_content .date_user span, .lastest_post .latest_post_content .date_user p{
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 23px;
 }
 .lastest_post h3 {
    margin: 0;
}
.top_news{display: flex;}
.Breaking_New h2:after {
    width: 10%;
    content: '';
    height: 2px;
    background: #005ab5;
    position: absolute;
    bottom: -2px;
    left: 0;
}
.Breaking_New h2 {
    position: relative;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    width: 100%;color:#005ab5;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 36px;
}

@media(max-width:414px){
    section.menu.footer_menu ul li a {
        font-size: 12px;
        line-height: 26px;
    }
    .lastest_post .latest_post_content {
        bottom: 25px;
    }
    .lastest_post .latest_post_content h2{
        font-size: 18px;
    line-height: 20px;
    }
    .lastest_post ul li img {
        width: 100%;
        height: 350px;
    }
    .lastest_post ul li {
        margin: 0px auto 20px;
    }
    .footer_menu ul {
        text-align: center;
    }
    .copyright_social {
        display: table;
        width: 90%;
        margin: 20px auto 0px;
    }
    .footer .footer_logo img {
        padding-left: 20px;
    }
}

@media(max-width:320px){

    .lastest_post .latest_post_content h2, .JustPostTitleDate h1{
        font-size: 20px;
        line-height: 25px;
    }
    footer.footer {
        padding: 2rem 0rem 2rem;
    }
    
    .social {
        margin-top: 10px;
    }
}