.Article3Page .banner {
    padding: 0;
}
.Article3Page {
    display: flex;
}
.Article3Page_ad img{
margin: 30px auto;
display: table;
}
.Article3Page_data{
background: #fff;
box-shadow: 0 0 5px gainsboro;
padding: 40px 60px 30px 50px;
margin: 30px;
}
.Article3Page_col3 img {
    height: 250px;
    object-fit: cover;
}
.Article3Page_col3 {
    padding-top: 50px;
}
.Article3Page_data .text_title_date p {
    width: 100%;
}
.Article3Page_col3 .banner img{
    margin: 0px auto 20px;
}

@media(max-width:768px){
    .Article3Page {
        display: inline-block;
    }
    .Article3Page_col3 .banner img {
        margin: 0px auto 20px;
        width: 90%;
    }
}

@media(max-width:414px)
{
    .Article3Page_data {
        padding: 30px 15px 30px 15px;
        margin: 20px;
    }
    .Article3Page_col3 {
        padding-top: 0;
    }
    
}