.just_txt {
    box-shadow: 0px 5px 10px #e5e5e5;
    padding: 20px;
    margin-bottom: 50px;
}
.just_txt h2 {
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.5px;
}
.just_txt p {
    font-family: Times New Roman;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
    padding: 10px 0 10px 0px
}
.just_txt a {
    background: #005ab5;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    margin-top: 7px;
    display: inline-block;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
}
.just_txt_divided .twitter_row {
    margin: 20px 30px 20px 30px;
}

.just_txt_divided {
    display: flex;
    width: 100%;
    margin: 0 auto;
}
.just_txt_divided .twitter_row .twiter_post_img{
width: 100%;
    border-radius: 10px;
    height: 170px;
    -o-object-fit: cover;
    object-fit: cover;
}
.just_txt_banner .banner {
    padding: 0;
}
.last_singleAd img {
    margin-bottom: 30px;
}
.singleAd_height img{
    height: 175px;
    object-fit: cover;
}

@media(max-width:414px){
    .just_txt {
        padding: 10px;
        margin-bottom: 20px;
    }   
.just_txt p{font-size: 8px;line-height: 10px;}
.just_txt h2{font-size: 15px; font-weight: 15px;}  
.just_txt_divided {
    display: inline-block !important;
}
.just_txt_divided .twitter_row {
    margin: 0px auto 20px;
}

}