nav {
    background: #005ab5;
}
nav ul {
    margin: 0 auto;
    float: none;
    display: table;
    padding: 5px;
}
nav ul li {
    list-style: none;
    margin: 0 auto;
    display: inline-block;
}
nav ul li a {
    color: #fff;
text-decoration: none;
    padding: 0px 20px;
    font-family: Signika;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
}
nav ul li a:hover{color: #fff;}
header {
    margin: 0 auto;
    display: table;
    padding: 15px;
    margin-top: 30px;
}
.banner {
    width: 100%;
    margin: 30 auto;
    display: table;
    float: none
}
nav.navbar img {
    padding: 50px 0 10px 0px;
}
.navbar-brand{min-height: auto !important;}
nav.navbar.is-transparent, .navbar-start.has-text-centered {
    display: inline-block;
    width: 100%;text-align: center;
}



@media(max-width:768px) {
    .navbar-burger.burger, .navbar-burger.burger.is-active, .navbar-burger:hover {
        background: transparent;
    }
    .navbar .navbar-brand {
        float: left;
        padding-left: 20px;
    }
    .navbar a {
        float: right;
        padding-right: 20px;
    }
    nav.navbar img {
        width: 300px !important;
        float: left;
        padding: 20px 0px 0px 20px;
    }
    nav ul li a {
        font-size: 20px;
        line-height: 40px;
    }
    .navbar-burger {
        margin-top: 20px !important;
    }
    .navbar-brand {
        padding-right: 20px;
    }
    nav ul li {
        display: block;
    }
    .navbar-start.has-text-centered {
        margin-top: 20px;
    }
    
}

@media(max-width:414px) {
body .banner {
       margin: 0px auto 15px;
    }   
nav.navbar img {
        width: 250px !important;
    }    
header img {
    width: 250px !important;
}
nav ul li a {
    font-size: 15px;
    line-height: 40px;
    padding: 0 7px;
}
.lastest_post ul li {
    width: 100% !important;
}
.lastest_post ul {
    display: inline-block !important;
    width: 100%;
}
.lastest_post ul li img {
    width: 100%;
    height: auto;
}
nav ul {
    padding: 0;
}

}

@media(max-width:320px){
    nav.navbar img {
        width: 200px !important;
    } 
    .navbar-burger {
        margin-top: 10px !important;
    }
    body .banner {
        margin: 0px auto 0px;
    }
}